In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .enableHiveSupport().getOrCreate()
df = spark.read.options(header='True', inferSchema='True', delimiter=',') \
  .csv("train_data.csv")

In [2]:
df.createOrReplaceTempView("loan_table")

21/12/14 20:27:17 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [32]:
result = spark.sql("SELECT employer_type,COUNT(*)/(SELECT count(*) FROM loan_table) AS percentage FROM loan_table GROUP BY (employer_type);")

In [35]:
result.show()

+--------------+--------------------+
| employer_type|          percentage|
+--------------+--------------------+
|幼教与中小学校| 0.09998333333333333|
|      上市企业| 0.10012666666666667|
|      政府机构| 0.25815333333333335|
|    世界五百强|0.053706666666666666|
|  高等教育机构| 0.03368666666666666|
|      普通企业|  0.4543433333333333|
+--------------+--------------------+

In [34]:
file=r"task3_q1.csv"
result.write.csv(path=file, header=True, sep=",")

question 2

In [40]:
result2 = spark.sql("select user_id,year_of_loan*monthly_payment*12-total_loan as total_money from loan_table")

In [41]:
file=r"task3_q2.csv"
result2.write.csv(path=file, header=True, sep=",")

question 3

In [60]:
result3 = spark.sql("select user_id,censor_status,work_year from loan_table where work_year in ('10+ years','6 years','7 years','8 years','9 years')")

In [61]:
file=r"task3_q3.csv"
result3.write.csv(path=file, header=True, sep=",")